{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="contacts">
        <div class="contact">
            <h3>environnement pour tous</h3>
            <p>+33 14 55 63 78 </p>
            <p>event@gmail.com</p>
        </div>
        <div class="contact">
            <h3>changer le monde</h3>
            <p>+243 14 55 63 78 </p>
            <p>event@gmail.com</p>
        </div>
        <div class="contact">
            <h3>eureka</h3>
            <p>+33 14 55 63 78 </p>
            <p>event@gmail.com</p>
        </div>
        <div class="contact">
            <h3>est-ouest</h3>
            <p>+33 14 55 63 78 </p>
            <p>event@gmail.com</p>
        </div>
        <div class="contact">
            <h3>environnement pour tous</h3>
            <p>+33 14 55 63 78 </p>
            <p>event@gmail.com</p>
        </div>
        <div class="contact">
            <h3>environnement pour tous</h3>
            <p>+33 14 55 63 78 </p>
            <p>event@gmail.com</p>
        </div>
        <div class="contact">
            <h3>environnement pour tous</h3>
            <p>+33 14 55 63 78 </p>
            <p>event@gmail.com</p>
        </div>
        <div class="contact">
            <h3>environnement pour tous</h3>
            <p>+33 14 55 63 78 </p>
            <p>event@gmail.com</p>
        </div>
    </section>

{% endblock  %} 