{% extends 'base.html' %}
{% load static %}

{% block content %}
    <a href="{% url 'creersujet' %}">retour</a>
    <div class="page">
        <div class="">
        <form action="{% url 'repondre' Discussion.pk %}" method="post" class="form">
            {% csrf_token %}
            <textarea name="commentaire" class="input">

            </textarea>
            <input type="hidden" value="{{Discussion}}" name="id">
            <input type="submit" value="publier">
        </form>
    </div>
    <div>
        <h1> {{ Discussion.sujet }} </h1>
        {% for rep in reponse %}
            <div class="reponse">
                <p>{{ rep.commentaire }}</p>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
