{% extends 'base.html' %}
{% load static %}

{% block content %}
    <a href="{% url 'creersujet' %}">
        <img src="{% static 'photo/fleche.png' %}" alt="" width="30">
    </a>

    <div class="page">

            <div class="aside">
                <form action="{% url 'repondre' Discussion.pk %}" method="post" class="form">
                    {% csrf_token %}
                    <textarea name="commentaire" class="input">

                    </textarea>
                    <input type="hidden" value="{{Discussion}}" name="id">
                    <input type="submit" value="publier">
                </form>
            </div>


            <div class="fil">
                <h1> {{ Discussion.sujet }} </h1>
                {% for rep in reponse %}
                    <div class="reponse">
                        <p>{{ rep.commentaire }}</p>
                        <div>
                        <p style="font-size: 12px;">{{ rep.author }}</p>
                        <p style="font-size: 12px;"> {{ rep.date_published }} </p>
                    </div>
                    </div>     
                {% endfor %}
            </div>  

    </div>
{% endblock %}
