{% extends 'base.html' %}
{% load static %}


{% block content %}
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <a href="{% url 'creersignal' %}">
                <img src="{% static 'photo/fleche.png' %}" alt="" width="30">
            </a>

            <div style="width: 400px; justify-self: center; text-align: center;">
                <img src="{% static 'photo/dev.jpg' %}" alt="" height="200" style="border-radius: 50%;">
                <p>grace aux informations relayé nous avons contituons une statique que nous ameliorons au fur et à mesure</p>
            </div>
            

            <div style="display: none;">
                {% for cle, valeur in types.items %}
                <ul>
                    <li class="type">{{ cle }}</li><p class="typevaleur">{{ valeur }} </p>
                </ul>
            {% endfor %} 
            </div>       

            <div style="border: 1px dashed #000; margin: 20px;"></div>
            <section style="display: flex;">
                <div>
                    <canvas id="mychart" style="width: 400px; height: 600px;"></canvas>
                </div>
                <div style="text-align: center; border: #000 1px solid; border-radius: 20px; width: 400px; margin-left: 200px; align-content: center;">
                    Des parts et d'autres de la ville de kinshasa nous avons reçu des signalement. voici un diagramme circulaire qui represente la quantité de signalement dans chacune des catégories 
                </div>
            </section>
            <div style="border: 1px dashed #000; margin: 20px;"></div>
            <div style="display: none;">
                {% for cle, valeur in communes.items %}
                <ul>
                    <li class="commune"> {{ cle }}</li><p class="communenombre">{{ valeur }}</p>
                </ul>
            {% endfor  %}
            </div>
            <canvas id="chart" style="width: 80%; height: 600px;"></canvas>


        <script>
            //on travail pour le graphique lié au nombre par type
            //recupere les elements de la list type : nombre de signalement

            //variable qui recupere les types des defis
            let listtype = []
            
            let elements = document.querySelectorAll(".type")
            elements.forEach(element =>{
                listtype.push(element.textContent)
            })


            //variable qui ensemeble le nombre de signalement par types
            let listtypevaleur = []
            let typevaleurs = document.querySelectorAll(".typevaleur")
            typevaleurs.forEach(valeur =>{
                listtypevaleur.push(parseInt(valeur.textContent))
            })

            
            const ctx = document.getElementById("mychart");
            new Chart(ctx, {
            type: "pie",
            data: {
                labels: listtype,
                datasets: [{
                    label: "types",
                    data: listtypevaleur,
                    backgroundColor: [
                        "red", "blue", "green"
                    ]
                }]
            }
        });
        //fini de travailler pour les graphiques des type 
        //on travail pour les grphiques liées au nombre de signalement par commune 
        let communes = []

        let ele_com = document.querySelectorAll(".commune")
        ele_com.forEach(ele => {
            communes.push(ele.textContent)
        })


        let list_comm_nbr = []
        let commune_nbr = document.querySelectorAll('.communenombre')
        commune_nbr.forEach(nbr => {
            list_comm_nbr.push(parseInt(nbr.textContent))
        })

        const can = document.getElementById('chart')
        new Chart(can, {
            type: "bar",
            data : {
                labels: communes,
                datasets: [{
                    label:"communes",
                    data:list_comm_nbr,
                    backgroundColor : ["blue", "red", "green", "yellow"]
                }]
            }
        })
        
        </script>




{% endblock %}